body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    color: black;
    overflow-y: auto;
    overflow-x: auto;
}

.main {
    height: 100vh;
    display: grid;
    grid-template-columns: 16rem 1fr;
    grid-template-rows: 10rem 6fr;
}

.side {
    grid-area: 1/1/-1/1;
    background-color: rgb(79, 122, 171);
    color: white;
}

.header {
    grid-area: 1/2/2/3;
    box-shadow:  2px 5px 10px 0px rgb(189, 187, 187);
    margin-bottom: 5px;
}

.dash {
    grid-area: 2/2/3/3;
    background-color: rgb(122, 146, 231);
    display: grid;
    grid-template-columns: 1fr 23rem;
}

.side {
    display: grid;
    padding-left: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 18rem 7rem;    
    gap: 3rem;
    font-weight: 600;
}

.logo {
    display: flex;
    padding-top: 1rem;
    padding-left: 0 ;
    align-items: center;
    font-size: 24pt;
}

.logo img {
    height: 40px;
    width: auto;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: 3rem;
    align-items: center;
}

.icon {
    justify-self: center;
}

.icon img{
    height: 20px;
    width: auto;
}

.help {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: 3rem;
    align-items: center;
}

.headertop {
    display: flex;
    height: 4rem;
    justify-content: space-between;
    padding: 0 4rem 1rem 2rem;
}

.search {
    display: flex;
    align-items: center;
    gap: 1rem;
}

input[type='text'] {
    width: 30rem;
    height: 1.5rem;
    background-color: rgb(217, 214, 214);
    border-radius: 14px;
    border: none;
}

.accountoptions {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-weight: 600;
    margin-left: 1rem;
    min-width: 15rem;
}

.symbol {
    height: 25px;
    width: auto;
}

.avi {
    height: 40px;
    width: auto;
}

.headerbottom {
    display: flex;
    justify-content: space-between;
    padding: 0 4rem 1rem 2rem;
    
}

.greeting {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.avi.bigger {
    height: 60px;
    width: auto;
}

.hithere {
    font-size: 10pt;
    font-weight: 500;
}

.name {
    font-size: 18pt;
    font-weight: 600;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

button {
    height: 2.5rem;
    width: 6rem;
    border-radius: 125px;
    font-weight: 600;
    border: none;
    color: white;
    background-color: rgb(79, 122, 171);
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, 450px);
    grid-template-rows: 3rem;
    grid-auto-rows: 250px;
    gap: 1rem;
    padding: 1rem;
}

.projectheader {
    grid-column: 1 / -1;
    color: white;
    font-size: 18pt;
    align-self: end;
}

.project {
    background-color: white;
    height: 200px;
    width: 380px;
    padding: 1rem;
    border-radius: 8px;
    border-left: 10px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.iconoptions {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 1rem;
}

.iconoptions img {
    height: 30px;
    width: auto;
}

.feed {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: 500px;
    padding: 1rem;
}

.announcewrapper,
.personwrapper {
    display: grid;
    border-radius: 10px;
    background-color: white;
    align-items: center;
}

.announcewrapper {
    grid-auto-rows: 8rem; 
}

.personwrapper {
    grid-auto-rows: 6rem;
}

.announcementsheader,
.trendingheader {
    display: grid;
    color: white;
    font-size: 18pt;
    align-items: end;
    height: 3rem;
    margin-bottom: 1.5rem;
}

.bordertop {
    border-radius: 10px 10px 0 0;
}

.borderbottom {
    border-radius: 0 0 10px 10px;
}

div>.announce {
    font-size: 16pt;
    font-weight: 600;
}

p {
    font-size: 10pt;
    font-weight: 200;
    color: gray;
}

.announce {
    background-color: white;
    padding: 2rem;
    font-size: 10pt;
}

.person {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    
}

img[src="./icons/generic profile.png"] {
    height: 50px;
    width: auto;
}

.hover:hover,
button:hover,
.iconoptions img:hover {
    opacity: .7;
}

.person:hover,
.announce:hover {
    background-color: rgb(203, 200, 200);
}

